/* Main header */
.jumbotron-container {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 5px 0px 5px 0px;
}

/* Buttons */
button {
    margin: 10px;
}

#yourCity {
    margin-left: 10px;
}

/* This is the table formed from user's city input */
.city, .cityTable, #cityView {
    color: #333;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.search {
    width: 40%;
    float: left;
}

.weather {
    margin: 0 auto;
}